{% extends 'core/base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-6 text-xl">My account</h1>

        <div class="flex gap-4 mb-2">
            <div class="pr-1">
                <strong>Username:</strong> 
            </div>
            <div class="flex-1">
                {{ request.user.username }}
            </div>  
        </div>
        
        {% if request.user.email %}
            <div class="flex gap-4 mb-2">
                <div class="pr-3">
                    <strong>Email adr.:</strong> 
                </div>
                <div class="flex-1 pl-2">
                    {{ request.user.email }}
                </div>  
            </div>
        {% endif %}

        <div class="flex gap-4 mb-4">
            <div class="pr-5">
                <strong>Teams:</strong>
            </div>

            <div class="flex-1">
                <ul>
                    {% for team in teams %}
                        <li class="pl-3 pb-1 text-gray-500">
                            {{ team.name }}
                            {% if team.created_by == request.user %}
                                <a href="{% url 'team:edit' team.id%}" class="hover:text-gray-700">(Edit)</a>
                            {% endif %}
                        </li>
                    {% empty %}
                        <li class="pl-3 py-1 text-gray-500">No teams</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr class="my-4 mb-6 text-gray-200 border-1">

        <form method="post" action="{% url 'userprofile:logout' %}">
            {% csrf_token %}
            <button class="py-3 px-6 bg-red-600 rounded-xl text-white">
                    Log Out
            </button>
        </form>
    </div>
{% endblock %}