<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %} | Django CRM</title>
  </head>
  <body>
    <nav class="py-6 px-6 flex justify-between bg-teal-500">
        <a href="{% url 'core:index' %}" class="text-white">
            Teal CRM
        </a>

        <div class="space-x-3">
            <a href="{% url 'core:about' %}" class="text-white">
                About
            </a>
            {% if not request.user.is_authenticated %}
              <a href="{% url 'userprofile:login' %}" class="py-3 px-6 bg-teal-600 rounded-xl text-white">
                  Log in
              </a>
              <a href="{% url 'userprofile:signup' %}" class="py-3 px-6 bg-teal-300 rounded-xl text-white">
                  Sign up
              </a>
            {% else %}
              <a href="{% url 'dashboard:dashboard' %}" class="py-3 px-6 bg-teal-600 rounded-xl text-white">
                  Dashboard
              </a>
              <a href="{% url 'userprofile:logout' %}" class="py-3 px-6 bg-red-600 rounded-xl text-white">
                Log Out
              </a>
            {% endif %}
        </div>
    </nav>

    <div class="px-6 py-6">
      {% block content %}

      {% endblock %}
    </div>

    <footer class="py-8 text-center bg-gray-200">
        <p class="text-xs text-gray-700">Copyright (c) 2025 - Teal CRM</p>
    </footer>
  </body>
</html>